:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;

  --first-brand-color: #c5ccd4;
  --second-brand-color:#de4345;
  --third-brand-color: #f5f6fa;

  --main-font:  'Red Hat Mono';
  --title-font:  'Red Hat Mono Bold';

  font-size: 62.5%;
}
